.navbar{
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo img{
    width: 60px;
    height: 20px;
    margin-left: 10px;
}
.nav-list{
    list-style-type: none;
    padding: 0;
    display: flex;
}
.nav-item{
    margin: 0;
    padding: 0;
}
.nav-item a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
}
.nav-item a:hover{
    text-decoration: underline;
}